<h6 class="text-center">Hashtags Statistics</h6>
<br/>
<table class="table table-sm table-hover">
  <tr *ngFor="let entry of getEntries()">
    <td>{{entry[0]}}</td>
    <td>{{entry[1]}}</td>
  </tr>
</table>

<button class="btn-primary text-center" (click)="showCharts()">Show</button>
<!--<charts [data]="data" [labels]="labels" *ngIf="show"></charts> -->

<br/><br/><br/>
<div>
  <div class="col-md-6">
    <charts [data]="data" [labels]="labels" *ngIf="show"></charts>
  </div>
  <div class="col-md-6">
    <bar-charts [data]="data" [labels]="labels" *ngIf="show"></bar-charts>
  </div>
</div>
